:root{
    --color_text_button:#E2E8F3;
    --color_text_buttontwo:#013299;
    --color-text-navlink:#F4F7FC;
    --webkit-scrollbar-track:#DFE8F9;
    --webkit-scrollbar-thumb:#CDCDCD;
    --heading-about-section:#013299;
    --paragrah-about-section:#1E1515;
    --boxes-in-about-section:#E2F3FF;
    --small-four-box-about:#EDEFF5;
}   