* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}


::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #013299, #395faf);
    border-radius: 3px;
}